datasets==3.3.2
deepface==0.0.93
dotenv==0.9.9
keras==3.8.0
langchain==0.3.19
matplotlib==3.10.1
numpy==1.26.4
openai==1.65.2
pandas==2.2.3
pillow==11.1.0
pinecone==6.0.1
pinecone-plugin-interface==0.0.7
python-dotenv==1.0.1
scikit-learn==1.6.1
sentence-transformers==3.4.1
tensorflow==2.18.0
tf_keras==2.18.0
tiktoken==0.9.0
tokenizers==0.21.0
torch==2.6.0
tqdm==4.67.1